Browser compatible implementation of Chacha20/Poly1305

I'm currently working on a project that requires Chacha20/Poly1305 & X25519 for JWE, and ED25519 for JWS for all data sent to the backend, from a browser.

Currently it's possible to use all of these on Node, because it's Crypto module contains an implementation of them.

However, I need it in the Browser.
I'm thinking of integrating a pure JavaScript implementation of Chacha20/Poly1305 X25519 and ED25519 into node-jose, for this purpose. 
To be compliant with the following RFCs:
[RFC7539](https://tools.ietf.org/html/rfc7539)
[RFC8439](https://tools.ietf.org/html/rfc8439)
[RFC8037](https://tools.ietf.org/html/rfc8037)

My question is, would you be interested in a PR? or is the focus on WebCrypto only?

Thanks,
Mischa


We’d like to see a js implementation contribution, yes. That being said native is always better. 

Relevant PRs to node-forge https://github.com/digitalbazaar/forge/pull/851 however node-forge doesn't seem to have very active work as there's lots of PRs being left there.