JWE Token with no public key fails to decrypt with "no key found" error

I'm attempting to decrypt a JWE Token which does not contain a JWE encrypted key as it is not used with our chosen algorithm. When I attempt to do so I see the following error

[Error: no key found]

In lib/jwe/decrypt.js I can see the following code:
if (!rcpt) {
              reject(new Error("no key found"));
              return;
            }

And further up the page I can see that the rcpt is populated indirectly by...the JWE encrypted key part of my token. This means that any token that does not use a public key is going to cause an error, despite the fact that it is a valid token.

Can you provide the "alg" and "enc" values from the JWE object?

Yes, the internal recipients list is constructed from the received JSON flattened or Compact values that map -- which would map the encrypted_key data found between the first and second "dot" in the Compact serialization.

This library does support the AES keywrap algorithms, and there are tests.  The assertion "that any token that does not use a public key is going to cause an error" is false; it is just as likely failing because you don't have the correct key.


Hi, thanks for the quick reply. The "alg" and "enc" values are as follows:

"alg":"DIR",
"enc":"A128CBC-HS256"

if the value of "alg" is really "DIR" and not "dir", that would be the source of the problem.  As per RFC 7519 § 7.1.1, the algorithms are case-sensitive ASCII strings -- "dir" is not the same as "DIR" according to the spec, and "dir" is what is defined in RFC 7519 § 4.5 and the IANA registry.

node-jose is attempting to find a key matching the algorithm "DIR", but never will.

You'll need to talk to the implementer on the other end to change to comply with the spec.

I'll look into it, hopefully it is just that. Thanks for your time.

The library I'm using created the jwe with lower case "dir". It does not appear to be the problem.

There's a couple of other possibilities I can see causing a failure here, both dependent on passing a JWK.KeyStore to JWE.createDecrypt():

1. the key's "use", "alg", and "kid" do not match the input JWE (where "use" is always "enc").  If a key does not define a "use" or a "alg", then it is assumed to match.  node-jose does generate a "kid" when a key is imported or generated if one is not provided.
2. there are multiple keys that apply to the "use", "alg", and "kid" from the input JWE.  node-jose only picks up on the first right now.

To help diagnose the problem further, can you provide:

* The full header for the failing JWE object?
* The properties (without the "k") of the keys from your KeyStore?

The workaround for now is to pass the key directly to JWE.createDecrypt().  This is far from ideal, but it'll take some time to work out a proper fix.

Hi,

I'm afraid you can chalk this issue down to user error. I was using the "n" for rsa instead of the "k" for oct keys for my key properties in my keystore.

I have progressed further now, though I am receiving a new error "Error: mac check failed" during decryption of my key.

My keys in the keystore are as follows: {"keys":[{"kty":"oct","kid":"001","alg":"dir","enc":"A128CBC-HS256"},{"kty":"oct","kid":"002","alg":"dir","enc":"A128CBC-HS256"}]}

This failure most often happens because the keys don't match.

The only thing I can suggest is confirm you really have the same key on both sides, and it didn't get corrupted in whatever exchange mechanism you have.

Hi, please mark this issue as closed. Thanks for your help!