Getting "invalid key length" error when trying to create JWE with multiple EC key recipients

Hi, 

I'm trying to use multiple recipients with EC keys on a JWE:

```javascript
const jose = require('node-jose')

;(async () => {
	const store = jose.JWK.createKeyStore()
	const eckeys = await Promise.all(['key1', 'key2'].map(kid => store.generate('EC', 'P-256', { kid })))
	const rsakeys = await Promise.all(['key1', 'key2'].map(kid => store.generate('RSA', 1024, { kid })))

	const data = JSON.stringify({ foo: "bar" })

	// RSA keys work
	const jwe1 = await jose.JWE.createEncrypt({ 
		format: 'general',
		protect: [ 'enc' ],
	}, rsakeys)
	.update(data)
	.final()
	console.log(jwe1)

	// EC keys throws
	const jwe2 = await jose.JWE.createEncrypt({ 
		format: 'general',
		protect: [ 'enc' ],
	}, eckeys)
	.update(data)
	.final()
	console.log(jwe2)
})().catch(e => {
	console.error(e.stack)
})
```

The error I'm getting is:
```
Error: invalid key length
    at Object.fn [as derive] (Z:\Development\Backup\node_modules\node-jose\lib\algorithms\concat.js:23:29)
    at Z:\Development\Backup\node_modules\node-jose\lib\algorithms\ecdh.js:212:39
```

Am I doing something wrong?

Hi f0zi

I guess that you found your error in the meantime, but for completeness:

Your error is caused by creating RSA keys with a key length of 1024bit. This keysize is too short for JWT and thus forbidden. 

Your code should work with 2048 as size for RSA keys. 

This issue should be closed. 

@phish108 The RSA part is the one that works. I did not know that 1024 is too short, but that does not seem to be the problem here.

The problem is that the **EC** part is not working. I can have multiple recipients on a JWE with RSA, and I can have a single recipient with EC but not multiple recipients with EC keys.

Just to make sure I tried some different key sizes (RSA 2048 and EC "P-384" and "P-521") and I get the same error. I was thinking the key size might be the problem but then why is it working with only one recipient?

Hmm. The error looks to me like it comes from the RSA fragment. I am confident that the error is thrown when you create the keys.

Could you please verify the code throws *without* the RSA chunk? I assume that the error will be different. 

I tried to isolate the problem for EC keys with [phish108/node-jose-tools](/phish108/node-jose-tools) and it seems that parameters are missing for the encryption.

Your code is the equivalent of  `jose encrypt --jwks myFriends-pub.jwks --general --kid myEcKey "data"`, which fails because of the missing `alg` claim.

Running the same command with a valid `alg`-claim such as `jose encrypt --jwks myFriends-pub.jwks --general --kid myEcKey --alg ECDH-ES "data"` works just fine.

The corresponding working `node-jose` code is:

```
const token = await JWE.createEncrypt({ format: "general", fields: {
     alg: "ECDH-ES"
} }, { key, reference: true })
        .update("data")
        .final();
```

Note, I run the code with a single key, but that should not be the problem. 

So if you could verify that your code breaks with 1 EC key as well as 2 EC keys. Please remove the RSA chunk first. 

Thanks for looking into this.

Running it with one key works, running it with two keys does not.

Using this code I still get the same error:

```javascript
const jose = require('node-jose')

;(async () => {
	const store = jose.JWK.createKeyStore()
	const eckeys = await Promise.all(['key1', 'key2'].map(kid => store.generate('EC', 'P-256', { kid })))

	const data = JSON.stringify({ foo: "bar" })

	// One key works
	const jwe1 = await jose.JWE.createEncrypt({
		format: 'general',
		fields: { alg: "ECDH-ES" },
		protect: [ 'enc' ],
	}, eckeys.map(key => ({ key, reference:true }))[0])
	.update(data)
	.final()
	console.log(jwe1)

	// Two keys fail
	const jwe2 = await jose.JWE.createEncrypt({
		format: 'general',
		fields: { alg: "ECDH-ES" },
		protect: [ 'enc' ],
	}, eckeys.map(key => ({ key, reference:true })))
	.update(data)
	.final()
	console.log(jwe2)
})().catch(e => {
	console.error(e.stack)
})
```

Ok that helps triangulating the problem. 

I will dig further after the weekend.

So I stepped though this with the debugger a bit (I'm not familiar with the code at all) and I noticed that this exception seems to be thrown in `jwe/encrypt.js:240`, and then caught somewhere and turned into a different exception:

```javascript
              return Promise.reject(new Error("cannot use 'alg':'" + algAlg + "' with multiple recipients"));
```

However I noticed that something is fishy with the `cek`, it seems to me that it is generated and wrapped for each recipient, my understanding is that the CEK should be generated once (for the message) and then wrapped with each recipients public key.

For my use case I don't actually have control over the recipients' key formats, so I need the mixed key case to work as well. I'm not sure if I should be opening a new ticket, but this is not working either:

```javascript
const jose = require('node-jose')

;(async () => {
	const store = jose.JWK.createKeyStore()
	const eckeys = await Promise.all(['key1', 'key2'].map(kid => store.generate('EC', 'P-256', { kid })))
	const rsakeys = await Promise.all(['key1', 'key2'].map(kid => store.generate('RSA', 1024, { kid })))
	const mixedkeys = [ eckeys[0], rsakeys[1] ]

	const data = JSON.stringify({ foo: "bar" })

	// Mixed keys fail
	const jwe2 = await jose.JWE.createEncrypt({
		format: 'general',
		protect: [ 'enc' ],
	}, mixedkeys.map(key => ({ key, reference:true })))
	.update(data)
	.final()
	console.log(jwe2)
})().catch(e => {
	console.error(e.stack)
})
```

I'm getting the same error as above:
```text
Error: invalid key length
    at Object.fn [as derive] (Z:\Development\Backup\node_modules\node-jose\lib\algorithms\concat.js:23:29)
    at Z:\Development\Backup\node_modules\node-jose\lib\algorithms\ecdh.js:211:39
```

How would I generate a JWE with multiple recipients of different key types?

I read RFC7516 that JWE with different key types are not expected. 

@panva what is your take on this?

ECDH-ES, just like dir, is a single recipient **only** JWE Algorithm. 

If you want to use EC keys to encrypt for multiple recipients you must use one of the keywrapping composed ECDH-ES JWE Algorithms. 

@phish108

> I read RFC7516 that JWE with different key types are not expected.

Can you quote the normative language for this?

@panva as I said I was uncertain. 

The only part referring to this scenario is section 7.2.1 of RFC 7516. There it states:

> All recipients use the same JWE Protected Header, JWE Initialization Vector, JWE Ciphertext, and JWE Authentication Tag values, when present, resulting in potentially significant space savings if the message is large.  Therefore, all Header Parameters that specify the treatment of the plaintext value MUST be the same for all recipients. This primarily means that the "enc" (encryption algorithm) Header Parameter value in the JOSE Header for each recipient and any parameters of that algorithm MUST be the same.

Ok this is definitely not normative and basically means that multiple key types are OK, but they lead to increased payload overhead. Basically each recipient gets the whole package with their chunk (if you like a mini JWE) embedded into it as no headers are shared.


This example from the RFC actually uses two different recipients with different encryption types:

https://tools.ietf.org/html/rfc7516#appendix-A.4

> {"alg":"RSA1_5","kid":"2011-04-29"}
> and
> {"alg":"A128KW","kid":"7"}

The way I read it that the payload encryption type (and the CEK) is the same for everyone...
> all Header Parameters that specify the treatment of the plaintext value MUST be the same for all recipients

... but the CEK key wrapping is/can be different for each recipient.

> ... but the CEK key wrapping is/can be different for each recipient.

Absolutely, but the CEK for "dir" and "ECDH-ES" is directly agreed upon, barring it from being used when multiple recipients are used. 

I don't think the key you get from the ECDH-ES is the CEK, in fact I don't think this is a key exchange thing, you just encrypt the CEK with the EC key.

Consider that the sender might not sign the JWE, it's just AES-GCM authenticated, so there is no "sender" EC key to do ECDH with. And even if there is a signature it might not be an EC key.

This is all from the top of my head though, I can look into the details after the weekend.

https://tools.ietf.org/html/rfc7518#section-4.6

Once more. If you want a random CEK wrapped using ECDH-ES you need to use one of its composite KW variants. 

ECDH-ES itself is a direct key agreement mode in which the agreed upon key is the CEK, it cannot be used when multiple recipients are in place - same as "dir". 

ECDH-ES+A128KW (and similar) is what you can use with multiple recipients. 

I don't think we are disagreeing.

- CEK: let's say AES-GCM 256.
- Recipient with EC key: ECDH-ES with ephemeral key + A256KW to wrap the CEK.
- Other recipients wrap the CEK their own way.

> Consider that the sender might not sign the JWE, it's just AES-GCM authenticated, so there is no "sender" EC key to do ECDH with.

I don't see how that's relevant in ephemeral-static agreement. Ephemeral is what the sender one time generates and puts the public EC in the JWE header "epk", static is the recipient public. 

> I don't think we are disagreeing.


Ok, then going back to your original issue, replace ECDH-ES with a composite ECDH-ES+***KW alg value and it should work for multiple recipients. 

The cryptic error message could just be a manifestation of you stuffing ECDH-ES direct key agreement in a multiple recipient JWE. I'm guessing here, I have since a while moved away from using node-jose

Please note that I have not specified any algorithms, except in the case above where @phish108 asked me to. IMHO finding the algorithm to use is the library's task.

TBH I'm not sure where I would specify it, for sure not in the content encryption options, as that would be silly. Maybe in the recipient's options? But do I really have to? The library should be able to determine that.

> IMHO finding the algorithm to use is the library's task.

I agree. When writing my own jose [module](https://github.com/panva/jose/tree/v2.x) I did just [that](https://github.com/panva/jose/blob/v2.x/lib/jwe/encrypt.js#L94) for EC recipients, direct key agreement by default unless there are multiple recipients. 

> But do I really have to? The library should be able to determine that.

Since the library should but this one currently doesn't, yes you have to. 

Thanks, @panva I got it to work!

Took me a few tires but this works:

```javascript
const jose = require('node-jose')

;(async () => {
	const store = jose.JWK.createKeyStore()
	const rsakeys = await Promise.all(['rsa1', 'rsa2', 'rsa3'].map(kid => store.generate('RSA', 1024, { kid })))
	const eckeys = await Promise.all(['ec1', 'ec2', 'ec3'].map(kid => store.generate('EC', 'P-256', { kid })))

	const data = JSON.stringify({ foo: "bar" })

	// Multiple keys
	const jwe2 = await jose.JWE.createEncrypt({
		format: 'general',
		protect: [ 'enc' ],
	}, [ ...eckeys.map(key => ({ key, reference:true, header: { alg: "ECDH-ES+A256KW"} })), ...rsakeys ])
	.update(data)
	.final()
	console.log(jwe2)

	var dec21 = await jose.JWE.createDecrypt(eckeys[1]).decrypt(jwe2)
	console.log(dec21.key.kid, dec21.payload.toString('utf8'))

	var dec22 = await jose.JWE.createDecrypt(rsakeys[1]).decrypt(jwe2)
	console.log(dec22.key.kid, dec22.payload.toString('utf8'))
})().catch(e => {
	console.error(e.stack)
})
```

I can work with this, but would you guys consider auto-detecting the need for the `alg` header in the recipient?

@f0zi If you don't need browser support and your code runs entirely on nodejs, you probably get more convenience and less overhead with [panva/jose](/panva/jose).



@phish108 `jose@2` is entirely Node.js, `jose@3` on the other hand already supports browser runtime.

Sounds great. So we can move the entire stack over to your implementation when 3 becomes the major release?

@phish108 3 is a major release that's also, obviously, supported.

Promoting my library here was not the intention tho. Let everyone use what they find fits their needs.

@panva Correct. Lets leave it at this.

@f0zi i think we solved the issue within the limits of node-jose.

@phish108 Thanks, I'll close it.

@panva I looked at your library a while ago but it did not seem that it supports multiple recipients. I'll take another look. Thanks.