With alg = dir, the general format lacks the "recipients"-member

Hi all, 

I am finalising a new [node-jose-tools](/phish108/node-jose-tools) release with a bunch of regression tests. In this process I test edge cases related to the flags of the tools.  

In this process I came across the following anomaly:

When calling 

```
const format = "general"; 
const fields = {
        cty: "JWT",
        alg: "dir"
};
const result = await JWE.createEncrypt({ format, fields }, { key, reference });
```

With an appropriate key and reference flag, the result is in flattened format as it lacks the recipients-member. The value of ```result``` is: 

```
{
    "protected": "eyJjdHkiOiJKV1QiLCJhbGciOiJkaXIiLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIiwia2lkIjoiYmFyZm9vIn0",
    "iv": "ksGrdzqkfXkpj7gOxkxbBg",
    "ciphertext": "dYiT8MKrdkP0TQeSXrbSxA",
    "tag": "qbIMLnfB9YPvOVWlDG_aIcX5x1H2sjB00fsdk4QuBSs"
}
```

However, [RFC7516, section 7.2.1](https://tools.ietf.org/html/rfc7516#section-7.2.1) states for the general format:

> The "recipients" member value MUST be an array of JSON objects. Each object contains information specific to a single recipient. This member MUST be present with exactly one array element per recipient, even if some or all of the array element values are the empty JSON object "{}" (which can happen when all Header Parameter values are shared between all recipients and when no encrypted key is used, such as when doing Direct Encryption).

Therefore, I would have expected the following result, instead of getting the flattened format:

```
{
    "recipients": [
        {}
     ],
    "protected": "eyJjdHkiOiJKV1Qi ... m9vIn0",
    "iv": "ksG ... Bg",
    "ciphertext": "dYiT8MKrdkP0TQeSXrbSxA",
    "tag": "qbIMLnfB9YP ... fsdk4QuBSs"
}
```

For proper key wrapping algorithms, the general format works just fine. 

Unless I missing something important here, I consider this a bug.